# Server
PORT=
# Database
MONGO_URI=
# Conection front
URL_FRONTEND=... # Cambiar Al final 
# ServiceEmail
EMAIL_USER=
EMAIL_APP_PASSWORD=

# Config Token
# JWT_SECRET=

# - ADMIN
# ADMIN_NAME=
# ADMIN_SURNAME=
# ADMIN_EMAIL=
# ADMIN_PASSWORD=
# ADMIN_ROLE=
# ADMIN_DNI=

