PORT=
MONGO_URI=


URL_FRONTEND=

JWT_SECRET=
EMAIL_USER=
EMAIL_APP_PASSWORD=
ADMIN=

#ROLES
USER_ROLE=
JWT_SECRET=
EMAIL_USER
EMAIL_APP_PASSWORD=

ADMIN_ROLE=
ADMIN_PASSWORD=
ADMIN_NAME=
ADMIN_LASTNAME=
ADMIN_DNI=



